.status-bar-container {
  display: flex;
  width: 600px;
  overflow-x: scroll;
  margin-bottom: 20px;
  .status-bar-status {
    height: 200px;
    width: 110px;
    margin: 20px 5px;
    border-radius: 15px;
  }
}
